* {
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

html,
body {
  margin: 0;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#debuginfo {
  position: fixed;
  top: 0;
  right: 0;
  font-family: monospace;
  color: rgb(40, 150, 40);
  text-align: right;
  line-height: 1em;
}

#app {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}